<html>
    <head>
        <title>My Angular App!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
		<script src="app.js"></script>
        <script src="videoCTRL.js"></script>
		<style type="text/css">
			.glypicon-thumbs-up {cursor:pointer;}
		</style>
    </head>

    <body ng-app="TheHollowHeart">
    </br>

    <div class="row">
    	<div class="col-md-6 cold-md-offset-3">
	<ui-view></ui-view>
 <div>
 </div>
</div>

<script type="text/ng-template" id="/home.html">


<div id="slider">

<p ng-repeat="video in videos" ng-if="video.id == currentID ">{{video.title}} - upvotes : {{video.upvotes}}</p>
<object ng-repeat="video in videos" ng-if="video.id == currentID" data="{{video.link}}"
   width="560" height="315"></object>

<br/>
<button ng-click="nextVideo()">next</button>
<button ng-click="previousVideo()">previous</button>

</div>




    <div id="admin-panel" ng-show="false">

    <h2>Add Post</h2>
    <div class="form-group">

<form ng-submit="addPost()" style="margin-top:30px">
    <input class="form-control" type="text" placeholder="Title" ng-model="title"/>
</br>
    <input class="form-control"type="text" placeholder="Link" ng-model="link"/>
</br>

    <button type="submit">Post</button>
 </form>
 </div>


 </div>
</script>
    </body>
</html>