<html>
    <head>
        <title>The Hollow Heart</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
		<script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/controllers/videoCTRL.js"></script>
		<style type="text/css">
			.glypicon-thumbs-up {cursor:pointer;}
		</style>
    <link rel="stylesheet" href="/stylesheets/main.css">
    </head>

    <body ng-app="TheHollowHeart">
    </br>


    <div class="fixed" id="top">

        <div id="logo">

            <p>V</p>

        </div>

        <div id="navlist">

            <ul id="nav">

                <li><a  href="https://www.facebook.com/TheHollowHeartBE/?fref=ts"><img class="nav" src="/images/facebook.png" alt="Facebook"></a></li>

                <li><a  href="https://twitter.com/thehollowheart_"><img class="nav" src="/images/twitter.png" alt="Twitter"></a></li>

                <li><a href="https://www.youtube.com/channel/UCNpNZ9m2_8EmnBag5HCX5_Q/feed"><img class="nav"  src="/images/youtube.png" alt="YouTube"></a></li>

            </ul>

        </div>

    </div>




        <div id="start">



        <div/>


<div class="fixed" id="bottom">

</div>

<div id="slider" ng-controller="VideoCTRL">

<h1 ng-repeat="video in videos" ng-if="video.id == currentID ">{{video.title}} - upvotes : {{video.upvotes}}</h1>

<button id="left" ng-disabled="isDisabledLeft()" ng-click="previousVideo()">previous</button>

<object ng-repeat="video in videos" ng-if="video.id == currentID" data="{{video.link}}"
   width="560" height="315"></object>

<button id="right" ng-disabled="isDisabledRight()" ng-click="nextVideo()">next</button>

</div>






    <div id="admin-panel" ng-show="false">

    <h2>Add Post</h2>
    <div class="form-group">

<form ng-submit="addPost()" style="margin-top:30px">
    <input class="form-control" type="text" placeholder="Title" ng-model="title"/>
</br>
    <input class="form-control"type="text" placeholder="Link" ng-model="link"/>
</br>

    <button type="submit">Post</button>
 </form>
 </div>








    </body>
</html>