<html>
    <head>
        <title>The Hollow Heart</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<style type="text/css">
			.glypicon-thumbs-up {cursor:pointer;}
		</style>
    <link rel="stylesheet" href="/stylesheets/main.css">
    </head>

    <body ng-app="TheHollowHeart">

    </br>


    <div class="fixed" id="top">

        <div id="logo" ng-controller="NavCtrl">
    <ul>
      <li><a href="/#/index">Home</a></li>
      <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
      <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
    </ul>

        </div>

        <div id="navlist">

            <ul id="nav">

                <li><a  href="https://www.facebook.com/TheHollowHeartBE/?fref=ts"><img class="nav" src="/images/facebook.png" alt="Facebook"></a></li>

                <li><a  href="https://twitter.com/thehollowheart_"><img class="nav" src="/images/twitter.png" alt="Twitter"></a></li>

                <li><a href="https://www.youtube.com/channel/UCNpNZ9m2_8EmnBag5HCX5_Q/feed"><img class="nav"  src="/images/youtube.png" alt="YouTube"></a></li>

            </ul>

        </div>

    </div>

<ui-view></ui-view>


<div class="fixed" id="bottom"></div>


<script type="text/ng-template" id="/index.hml">




        <div id="start">



        <div/>






<div id="welcome">

<h1>Welcome to The Hollow Heart !</h1>

<p>A name is just a name, but The Hollow Heart is more than just a name. It speaks to the soul and shows that even the biggest and kindest hearts can be hollow inside. To fill up this void, we use emotions like love, friendship and kindness.</p>

<p>The Hollow Heart is the music-project of singer-songwriter Iben Van de Veire. Born in Bruges, this aspiring artists has a passion for music and lyrics that come from the heart. Bare-bones but soulfull, the covers and original work of The Hollow Heart are kept simple to focuss on the emotions and soul of the music.</p>

<p>On this website, you can find the latest news on The Hollow Heart, including the latest videos and planned events.</p>


<a href="/#/events">Concerts</a>
<span>|</span>
<a href="/#/videos">Videos</a>

</div>

</script>


<script type="text/ng-template" id="/events.html">

<div id="events">


<div ng-repeat="eventx in events" ng-if="currentID==$index">

<h1>{{eventx.title}}</h1>

<hr>

<h2>{{eventx.playDate}}</h2>

<p>{{eventx.description}}</p>

</div>


<button ng-disabled="isDisabledLeft()" ng-click="previousEvent()" class="navbutton"> << Previous</button>
<button ng-disabled="isDisabledRight()" ng-click="nextEvent()" class="navbutton">Next >> </button>

</div>

 <div id="admin-panel" ng-show="isLoggedIn()" >



<div >
    <h2>Add EventPost</h2>
    <div class="form-group">

<form ng-submit="addEvent()" style="margin-top:30px">
    <input class="form-control" type="text" placeholder="Title" ng-model="eventtitle"/>
</br>
    <input class="form-control"type="text" placeholder="Date" ng-model="playDate"/>
</br>
    <input class="form-control"type="text" placeholder="Description" ng-model="eventdescription"/>
</br>
    <button type="submit">Post</button>
 </form>
</div> 




</div>

</script>


<script type="text/ng-template" id="/videos.html">
  

<div id="slider" ng-controller="VideoCTRL">




<div ng-repeat="video in videos" ng-if="currentID== $index">

<div class="left"  id="info">
<h3> {{video.title}}</h3>
<hr>

<div ng-show="video.artist!=null">
<h4>Creator :</h4>
{{video.artist}}
</div>
<div ng-show="video.description!=null">
<h4>Description:</h4>
{{video.description}}
</div>
</div>


<div class="right" id="video">

<object data="{{video.link}}"
   id="videoobject"></object>

</div>

</div>





<button ng-disabled="isDisabledLeft()" ng-click="previousVideo()" class="navbutton"> << Previous</button>
<button ng-disabled="isDisabledRight()" ng-click="nextVideo()" class="navbutton">Next >> </button>





 <div id="admin-panel" ng-show="isLoggedIn()" >

<div ng-controller="VideoCTRL">
    <h2>Add VideoPost</h2>
    <div class="form-group">

<form ng-submit="addVideo()" style="margin-top:30px">
    <input class="form-control" type="text" placeholder="Title" ng-model="title"/>
</br>
    <input class="form-control"type="text" placeholder="Artist" ng-model="artist"/>
</br>
    <input class="form-control"type="text" placeholder="Description" ng-model="description"/>
</br>
    <input class="form-control"type="text" placeholder="Link" ng-model="link"/>
</br>
    <button type="submit">Post</button>
 </form>
</div>  


</div>
</script>



<script type="text/ng-template" id="/register.html">

<div class="loginregister">

<div class="page-header">
    <h1>Welcome to The Hollow Heart </h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="register()"
    style="margin-top:30px;">
    <h3>Register</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
  </form>

</div>
  
</script>

<script type="text/ng-template" id="/login.html">

<div class="loginregister">

<div class="page-header">
    <h1>Welcome to the Hollow Heart !</h1>
  </div>

  <div ng-show="error" class="alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>

  <form ng-submit="logIn()"
    style="margin-top:30px;">
    <h3>Log In</h3>

    <div class="form-group">
      <input type="text"
      class="form-control"
      placeholder="Username"
      ng-model="user.username"></input>
    </div>
    <div class="form-group">
      <input type="password"
      class="form-control"
      placeholder="Password"
      ng-model="user.password"></input>
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>


</div>
  
  </script>




        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
        <script src="/javascripts/angularApp.js"></script>
        <script src="/javascripts/controllers/videoCTRL.js"></script>
        <script src="/services/VideoService.js"></script>
        <script src="/javascripts/controllers/eventCTRL.js"></script>
        <script src="/services/EventService.js"></script>
        <script src="/javascripts/controllers/authCTRL.js"></script>
        <script src="/services/AuthService.js"></script>
        <script src="/javascripts/controllers/navCTRL.js"></script>
        <script src="/directives/copyrightDirective.js"></script>




    </body>
</html>