 <div id="admin-panel" ng-show="false">

    <h2>Add Post</h2>
    <div class="form-group">

<form ng-submit="addPost()" style="margin-top:30px">
    <input class="form-control" type="text" placeholder="Title" ng-model="title"/>
</br>
    <input class="form-control"type="text" placeholder="Link" ng-model="link"/>
</br>

    <button type="submit">Post</button>
 </form>
 </div>



